<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.isolde.prueba"
    version   = "1.0.0">

<name>Aplicacion para insertar datos</name>

<description>
Una aplicacion de prueba
</description>

<author href="http;//www.arubadesignweb.com" email="krshna108@gmail.com">
Isolde Ruano</author>

</widget>
